<div class="simplecontact">

    {% if status == 'failed' %}

        <p>{{ translate('simplecontact', 'messageFailed') }}</p>
        <p><a href="{{ url_rel(route) }}" class="simplecontact-button pure-button">{{ translate('simplecontact', 'backToForm') }}</a></p>

    {% elseif status == 'successful' %}

        <p>{{ translate('simplecontact', 'messageSuccessful') }}</p>
        <p><a href="{{ url_rel(route) }}" class="simplecontact-button pure-button">{{ translate('simplecontact', 'backToForm') }}</a></p>

    {% else %}

        {% if errors %}

            <div class="simplecontact-errors">{{ translate('simplecontact', 'messageError') }}</div>

        {% endif %}

        <form class="simplecontact-form pure-form pure-form-stacked" action="{{ url_rel(route) }}" method="post">
            <div class="simplecontact-control-group pure-control-group{% if errors.name %} simplecontact-control-group-error{% endif %}">
                <label for="name">{{ translate('simplecontact', 'labelName') }}</label>
                <input class="simplecontact-input pure-input-1" id="name" name="name" type="text" placeholder="" value="{{ data.name }}">
                {% if errors.name %}
                    <span class="simplecontact-form-message pure-form-message is-error">{{ errors.name }}</span>
                {% endif %}
            </div>

            <div class="simplecontact-control-group pure-control-group{% if errors.email %} simplecontact-control-group-error{% endif %}">
                <label for="email">{{ translate('simplecontact', 'labelEmail') }}</label>
                <input class="simplecontact-input pure-input-1" id="email" name="email" type="email" placeholder="" value="{{ data.email }}">
                {% if errors.email %}
                    <span class="simplecontact-form-message pure-form-message is-error">{{ errors.email }}</span>
                {% endif %}
            </div>

            <div class="simplecontact-control-group pure-control-group{% if errors.message %} simplecontact-control-group-error{% endif %}">
                <label for="message">{{ translate('simplecontact', 'labelMessage') }}</label>
                <textarea class="simplecontact-input pure-input-1" id="message" name="message" placeholder="" rows="5">{{ data.message }}</textarea>
                {% if errors.message %}
                    <span class="simplecontact-form-message pure-form-message is-error">{{ errors.message }}</span>
                {% endif %}
            </div>

            <div class="simplecontact-control-group simplecontact-control-group-antispam pure-control-group{% if errors.antispam %} simplecontact-control-group-error{% endif %}">
                <label for="antispam">{{ translate('simplecontact', 'labelAntispam') }}</label>
                <input class="simplecontact-input pure-input-1" id="antispam" name="antispam" type="text" placeholder="" value="{{ data.antispam }}">
                {% if errors.antispam %}
                    <span class="simplecontact-form-message pure-form-message is-error">{{ errors.antispam }}</span>
                {% endif %}
            </div>

            <div class="simplecontact-controls pure-controls">
                <button type="submit" name="button" value="submit" class="simplecontact-button pure-button">{{ translate('simplecontact', 'buttonSubmit') }}</button>
                {% if data.message or data.name or data.email %}
                    <button type="submit" name="button" value="reset" class="simplecontact-button simplecontact-secondary-button pure-button">{{ translate('simplecontact', 'buttonReset') }}</button>
                {% endif %}
            </div>
        </form>

    {% endif %}

</div>

<style>
    .simplecontact-errors {
        font-size: 0.9em;
        background: rgb(232, 90, 90);
        color: white;
        padding: 1em;
        margin-bottom: 1em;
    }
    .simplecontact-form-message.is-error {
        color: rgb(232, 90, 90);
    }
    .simplecontact-control-group {
        margin-bottom: 1em;
    }
    .simplecontact-control-group-antispam {
        display: none;
    }
    .simplecontact-secondary-button {
        background-color:#e6e6e6;
        color:#666;
    }
</style>
